[Desktop Entry]
Version=1.0
Type=Application
Name=PulseTask
Comment=Visible deadlines and real focus
Exec=com.matiasz8.pulsetask
Icon=com.matiasz8.pulsetask
Terminal=false
Categories=Utility;Office;
StartupNotify=true
StartupWMClass=com.matiasz8.pulsetask
